* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
    text-align: center;
    align-items: center;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enust {
border: solid 1px #002B5B ;
min-height: 100px;
color: #2B4865;
font-size: 30px;    
}

.orta {
    border: solid 1px #002B5B ;
    min-height: 400px;
}

.menu {
    border: #002B5B solid 1px;
    min-height: 50px;
    margin-top: 10px;
    padding: 10px;
}

.menu nav ul li a{
    font-size: 21px;
    text-decoration: none; 
}

li{
    display: inline;
    padding: 15px;

}

a:hover {
    color: #8FE3CF;
}

.footer {
    margin-top: 10px;
    padding: 10px;
    border: solid cadetblue 1px;
}

#hakkinda {
    border: solid 1px pink;
    min-height: 400px;
    margin-top: 15px;
    padding: 10px;
}

.font-22 {
    font-size: 22px;
    color: #256D85;
}

#iletisim {
    margin: 15px;
    padding: 10px;
}

#formkutu {
    border: #2B4865 solid 2px;
    background-color: #002B5B;
    padding: 30px;
    margin-top: 15px;
    margin: auto;
    border-radius: 20px;
    max-width: 400px;

}

input{
    border: #2B4865 solid 2px;
    padding: 5px;
    margin: 10px;
}

input:focus{
    background-color: #2B4865;
}